@import "_bhromaon";
@import "_section2";
@import "_spain";
@import "_happy";

@font-face {
    font-family: "Aleo";
    src: url("../fonts/Aleo-Font/aleo-regular-webfont.ttf");
    }
    @font-face {
        font-family:"Josefin Sans";
        src: url(../fonts/JosefinSans-Regular.ttf)
        }